 /*comienza Reset */
 */ {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 	box-sizing: border-box;
 }

 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 /*termina Reset */

body {
	background-color: burlywood;
}

.contenedor	{display: grid;
grid-template-areas: "header"
					"main"
					"footer";
					grid-template-columns: 1fr;
					grid-template-rows: 1fr;
} 

/*header */
 header {
	height: 160px;
 	display: flex;
 	justify-content: space-between;
	align-items: center;
	grid-area: header;
 }

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}

.logo1  {
	width: 300px;
	height: 300px;
}

.logo2  {
	display: none;
	width: 300px;
	height: 300px;
}

 .navegacion ul {
 	margin: 0;
 	padding: 0;
 	list-style: none
 }

 .navegacion ul li {
 	display: inline-block;
 }

 .navegacion ul li a {
 	display: block;
 	padding: 0.5rem 1rem;
 	text-decoration: none;
 	color: rgb(0, 0, 0);
 	background-color: blanchedalmond;
 	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 	font-size: 14px;
 }

 header ul a:hover {
 	background-color: azure;
 }

 .redes__sociales {
	 padding: 0;
 }

 .redes__sociales img {
 	width: 50px;
	height: 50px;
 }

 /*main general*/

 .seccion__titulo {
 	background-color: rgb(204, 133, 28);
 	text-align: center;
 	font-size: 30px;
 }

 .seccion__encuadrado {
 	background-color: rgb(240, 207, 163);
 	font-family: 'Montserrat', sans-serif;
 	font-size: small;
	 width: 270px;
	 height: 400px;
	 margin: 10px;
 	text-align: center;
	 border-radius: 15px;

 }

.seccion__encuadrado a {
	background-color: rgb(192, 182, 89);
	color: rgb(68, 44, 14);
	padding: 15px 20px;
	display: block;
	text-align: center;
	margin: 10px 40px;
	text-decoration: none;
}
 
.seccion__encuadrado:hover {
	background-color:antiquewhite;
	cursor: pointer;
	transform: scale(1.03);
	transition: all 1s ease;
}

.seccion__encuadradoImagen {
	height: 170px;
	margin-bottom: 15px;
	border-radius: 15px 15px 0 0;
}

.img-1 {
	background-image: url(../imagenes/viaje-1.png);
	background-size: cover;
}

.img-2 {
	background-image: url(../imagenes/viaje-2.png);
	background-size: cover;
}

.img-3 {
	background-image: url(../imagenes/viaje-3.png);
	background-size: cover;
}

.img-4 {
	background-image: url(../imagenes/viaje-4.png);
	background-size: cover;
}

 .seccion__encuadrado img {
 	width: 100%;
 }

 /*main index*/

 #productos {
 	display: flex;
 	flex-wrap: wrap;
 	column-gap: 5px;
 	row-gap: 5px;
 	justify-content: center;
 }

 /*main nosotros*/
 .seccion__quienesSomos {
 	background-image: url(../imagenes/banner.jpg);
	 background-size:cover;
	color: antiquewhite;
	 border: 1px rgb(0, 0, 0) solid;
 	font-family: 'Montserrat', sans-serif;
 	width: 50%;
 	margin-left: auto;
 	margin-right: auto;
 	line-height: 1.3;
 	text-align: center;
 }

 /*main fechas y precios*/

 table,
 td,
 th {
 	border: 2px solid rgb(27, 27, 34);
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 }

 table {
 	width: 50%;
 }

 /*footer*/

 footer {
 	display: flex;
 	justify-content: space-between;
 	padding: 4rem 0;
 	text-align: center;
 	margin-top: 6rem;
 }

 /*footer medios de pago*/

 .footer__mediosDePago {
 	width: 50%;
 	padding: 16px 20px;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center;
}
 
 footer img {
 	width: 100px;
 	height: 100px;
 }

 /*footer formulario*/

 .footer__formulario {
 	width: 50%;
 	padding: 16px 20px;
 	background-color: rgba(168, 121, 59, 0.808);
 	border-radius: 4px;
 	font-family: 'calibri';
 }

 .footer__formulario h4 {
 	font-size: 22px;
 	margin-bottom: 20px;
 }

 .controles {
 	width: 100%;
 	background: #c4a244;
 	border-radius: 4px;
 	margin-bottom: 16px;
 	border: 1px solid #000000;
 	font-family: 'calibri';
 	font-size: 18px;
 	color: white;
 }

 .footer__formulario textarea {
	width: 100%;
	background: #c4a244;
	border-radius: 4px;
	border: 1px solid #000000;
	font-family: 'calibri';
	font-size: 18px;
	color: white;
 }


 .boton {
 	width: 100%;
 	background: #c4a244;
 	border: none;
 	padding: 12px;
 	color: black;
 	margin: 16px 0;
 	font-size: 16px;
 }

 form {
 	width: 100%;
 	height: 100%
 }

 /*media querys*/
 @media (max-width: 788px) {

.logo1 {
	display: none;
}

.logo2 {	
	display: block ;
	width: 200px;
	height: 200px;
	
}

.navegacion {
	width: 100%;
}

.navegacion ul li {
	display: block;
	padding: 1px;
}

.navegacion ul li a {
	padding: 0.5rem 0;
}


.redes__sociales {
	padding: 0;
}

	/*footer*/

	footer {
		flex-direction: column;
		justify-content: space-around;
		padding: 0 0;
 		margin-top: 1rem ;
	}
   
	/*footer medios de pago*/
   
	.footer__mediosDePago {
		margin-left: auto;
 		margin-right: auto;
	}
   
	/*footer formulario*/
   
	.footer__formulario {
		margin-left: auto;
 		margin-right: auto;
	}
   

   
	.controles {
		width: 90%;

	}
.footer__formulario textarea {
	width: 90%;
}	

}